{% extends 'layout_tienda.html' %}

{% block body %}
<div class="nk-main">
        
    <div class="nk-gap-2"></div>



<div class="container">

<!-- START: Image Slider -->
<div class="nk-image-slider" data-autoplay="8000">


<div class="nk-image-slider-item">
    <img src="../static/assets/images/slide-1.jpg" alt="" class="nk-image-slider-img" data-thumb="../static/assets/images/slide-1-thumb.jpg">
    
    <div class="nk-image-slider-content">
        
            <h3 class="h4">Descubre los mejores juegos</h3>
            <p class="text-white">¡Bienvenidos a PlayerOne, el destino definitivo para los amantes de los videojuegos!</p>
            <a href="/store" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Descubre juegos</a>
        
    </div>
    
</div>

<div class="nk-image-slider-item">
    <img src="../static/assets/images/slide-2.jpg" alt="" class="nk-image-slider-img" data-thumb="../static/assets/images/slide-2-thumb.jpg">
    
    <div class="nk-image-slider-content">
        
            <h3 class="h4">Cyberpunk 2077</h3>
            <p class="text-white">Adéntrate en el futurista y peligroso Night City con 'Cyberpunk 2077'. Encarna a V, un mercenario en busca de la inmortalidad en un mundo lleno de tecnología avanzada, pandillas mortales y corporaciones poderosas. Experimenta una historia rica en decisiones morales, combates intensos y un mundo vibrante de luces de neón y secretos. ¿Tienes lo que se necesita para sobrevivir y prosperar en este emocionante universo ciberpunk?</p>
            <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Leer más</a>
        
    </div>
    
</div>

<div class="nk-image-slider-item">
    <img src="../static/assets/images/slide-3.jpg" alt="" class="nk-image-slider-img" data-thumb="../static/assets/images/slide-3-thumb.jpg">
    <div class="nk-image-slider-content">
        
        <h3 class="h4">The Last of Us 2</h3>
        <p class="text-white">Vive la emocionante y emotiva secuela de acción y supervivencia en un mundo postapocalíptico con 'The Last of Us Part II'. Acompaña a Ellie en su búsqueda de venganza en un mundo despiadado y descubre si la supervivencia justifica los sacrificios. Experimenta una narrativa impactante, gráficos sorprendentes y una jugabilidad intensa en este épico viaje.</p>
        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Leer más</a>
    
</div>
</div>

<div class="nk-image-slider-item">
    <img src="../static/assets/images/slide-4.jpg" alt="" class="nk-image-slider-img" data-thumb="../static/assets/images/slide-4-thumb.jpg">
    
    <div class="nk-image-slider-content">
        
            <h3 class="h4">Doom Eternal</h3>
            <p class="text-white">Sumérgete en el frenético caos demoníaco de 'Doom Eternal'. Enfréntate a hordas de monstruos infernales como el Slayer y lucha por salvar la humanidad en un mundo invadido por el infierno. Con una acción vertiginosa, armas mortales y un ritmo implacable, esta es una batalla por la supervivencia como ninguna otra. ¿Tienes lo que se necesita para enfrentar a los demonios y salvar la Tierra?</p>
            <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Leer más</a>
        
    </div>
    
</div>

<div class="nk-image-slider-item">
    <img src="../static/assets/images/slide-5.jpg" alt="" class="nk-image-slider-img" data-thumb="../static/assets/images/slide-5-thumb.jpg">
    
    <div class="nk-image-slider-content">
        
            <h3 class="h4">Hades</h3>
            <p class="text-white">Embárcate en un viaje épico en 'Hades', un juego de roguelike que te sumerge en la mitología griega. Juega como Zagreus, el hijo de Hades, y desafía las profundidades del Inframundo en busca de la libertad. Con mecánicas de combate rápidas y emocionantes, gráficos cautivadores y una narrativa envolvente, este juego te llevará a través de intrigantes encuentros con los dioses y seres mitológicos. ¿Puedes escapar del Inframundo y alcanzar la gloria?</p>
            <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-hover-color-main-1">Leer más</a>
        
    </div>
    
</div>

</div>
<!-- END: Image Slider -->

<!-- START: Categories -->
<!-- <div class="nk-gap-2"></div>
<div class="row vertical-gap">
<div class="col-lg-4">
    <div class="nk-feature-1">
        <div class="nk-feature-icon">
            <img src="../static/assets/images/icon-mouse.png" alt="">
        </div>
        <div class="nk-feature-cont">
            <h3 class="nk-feature-title"><a href="#">PC</a></h3>
            <h4 class="nk-feature-title text-main-1"><a href="#">View Games</a></h4>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="nk-feature-1">
        <div class="nk-feature-icon">
            <img src="../static/assets/images/icon-gamepad.png" alt="">
        </div>
        <div class="nk-feature-cont">
            <h3 class="nk-feature-title"><a href="#">PS4</a></h3>
            <h4 class="nk-feature-title text-main-1"><a href="#">View Games</a></h4>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="nk-feature-1">
        <div class="nk-feature-icon">
            <img src="../static/assets/images/icon-gamepad-2.png" alt="">
        </div>
        <div class="nk-feature-cont">
            <h3 class="nk-feature-title"><a href="#">Xbox</a></h3>
            <h4 class="nk-feature-title text-main-1"><a href="#">View Games</a></h4>
        </div>
    </div>
</div>
</div> -->
<!-- END: Categories -->



<div class="nk-gap-2"></div>
<div class="row vertical-gap">
<div class="col-lg-8">


    <!-- START: Best Selling -->
    <div class="nk-gap-3"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Más</span> Vendidos</span></h3>
    <div class="nk-gap"></div>
    <div class="row vertical-gap">
        
        {% for producto in productos %}

        <div class="col-md-6">
            <div class="nk-product-cat">
                <a class="nk-product-image" href="/{{producto[6]}}/{{producto[2]}}">
                    <img src="{{ producto[5] }}" alt="She gave my mother">
                </a>
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a href="/{{producto[6]}}/{{producto[2]}}">{{ producto[2] }}</a></h3>
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-rating" data-rating="5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-price">S/. {{ producto[3] }}</div>
                    <div class="nk-gap-1"></div>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Añadir al carro</a>
                </div>
            </div>
        </div>
        {% endfor %}
        

        
    </div>
    <!-- END: Best Selling -->
</div>
<div class="col-lg-4">
    <!--
        START: Sidebar

        Additional Classes:
            .nk-sidebar-left
            .nk-sidebar-right
            .nk-sidebar-sticky
    -->
    <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
        <div class="nk-widget">
<div class="nk-widget-content">
<form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Type something...">
        <button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
    </div>
</form>
</div>
</div>

<div class="nk-widget nk-widget-highlighted">
<h4 class="nk-widget-title"><span><span class="text-main-1">Top 3</span> Recientes</span></h4>
<div class="nk-widget-content">

    <div class="nk-widget-post">
        <a href="/blog-article" class="nk-post-image">
            <img src="../static/assets/images/post-1-sm.jpg" alt="">
        </a>
        <h3 class="nk-post-title"><a href="/blog-article">Gears of War Tactic</a></h3>
        <div class="nk-post-date"><span class="fa fa-calendar"></span> Sep 18, 2018</div>
    </div>

    <div class="nk-widget-post">
        <a href="/blog-article" class="nk-post-image">
            <img src="../static/assets/images/post-2-sm.jpg" alt="">
        </a>
        <h3 class="nk-post-title"><a href="/blog-article">Halo Infinite</a></h3>
        <div class="nk-post-date"><span class="fa fa-calendar"></span> Sep 5, 2018</div>
    </div>

    <div class="nk-widget-post">
        <a href="/blog-article" class="nk-post-image">
            <img src="../static/assets/images/post-3-sm.jpg" alt="">
        </a>
        <h3 class="nk-post-title"><a href="/blog-article">The Witcher 3 Wild Hunt</a></h3>
        <div class="nk-post-date"><span class="fa fa-calendar"></span> Aug 27, 2018</div>
    </div>

</div>
</div>

    </aside>
    <!-- END: Sidebar -->
</div>
</div>
</div>

<div class="nk-gap-4"></div>
{% endblock %}