<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="../static/img/logo.png" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Istok+Web&family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style_inicio.css">
</head>
<body class="bg-primary">
    <form>
        <div class="imagen-central">
            <img  class="imagen-logo" src="../static/img/logo.png" alt="Player One">
        </div>
        <h2>Registro</h2>
        <label for="name">Nombre</label>
        <input type="text" id="name" placeholder="Nombre">
        
        <label for="apellidos">Apellidos</label>
        <input type="text" id="apellidos" placeholder="Apellidos">
        
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" placeholder="Usuario">
        
        <label for="email">Correo</label>
        <input type="text" id="email" placeholder="Correo">
        
        <label for="confirmarEmail">Confirmar correo</label>
        <input type="text" id="confirmarEmail" placeholder="Confirmar correo">
        
        <label for="password">Contraseña:</label>
        <input type="password" id="password" placeholder="Contraseña">
        
        <label for="confirmarPassword">Confirmar contraseña</label>
        <input type="password" id="confirmarPassword" placeholder="Confirmar contraseña">
        
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input type="date" id="fechaNacimiento">

        <div class="contenedor">
            <a type="submit" class="btn-1" value="Crear cuenta" onclick="window.location.href='/index'">Crear cuenta</a>
        </div>
    </form>
</body>
</html>