{%extends 'layout_tienda.html' %}
{% block body %}
 <!-- START: Breadcrumbs -->
 <div class="nk-gap-1"></div>
 <div class="container">
     <ul class="nk-breadcrumbs">
         
         
         <li><a href="/">Juegos</a></li>
         
         
         <li><span class="fa fa-angle-right"></span></li>
         
         <li><span>Categorías</span></li>
         
     </ul>
 </div>

 <!-- END: Breadcrumbs -->
 


 <div class="container">
     <!-- START: Featured Games -->
     <div class="nk-gap-3"></div>
     <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Categ</span>orias</span></h3>
     <div class="nk-gap"></div>
     <div class="row vertical-gap">
         

         <div class="col-lg-6">
             <div class="nk-product-cat-2">
                 <a class="nk-product-image" href="/Accion">
                     <img src="../static/assets/images/categorias/accion.jpg" alt="With what mingled joy">
                 </a>
                 <div class="nk-product-cont">
                     <h3 class="nk-product-title h5"><a href="/Accion">Accion</a></h3>
                     <div class="nk-gap-1"></div>
                     <div class="nk-gap-1"></div>
                     Los juegos de acción se caracterizan por su ritmo rápido y la intensidad de la acción. Los jugadores suelen asumir el papel de un personaje que se enfrenta a desafíos físicos y combates contra enemigos. Estos juegos ofrecen adrenalina, tiroteos, peleas y momentos emocionantes.
                     <div class="nk-gap-2"></div>
                     <div class="nk-gap-1"></div>
                     <a href="/Accion" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Ver más</a>
                 </div>
             </div>
         </div>
         
         
         <div class="col-lg-6">
             <div class="nk-product-cat-2">
                 <a class="nk-product-image" href="/Carreras">
                     <img src="../static/assets/images/categorias/carreras.jpg" alt="She was bouncing away">
                 </a>
                 <div class="nk-product-cont">
                     <h3 class="nk-product-title h5"><a href="/Carreras">Carreras</a></h3>
                     <div class="nk-gap-1"></div>
                     <div class="nk-gap-1"></div>
                     Los juegos de carreras se centran en la competición de velocidad, ya sea en vehículos terrestres, aéreos o acuáticos. Los jugadores compiten contra la inteligencia artificial o en línea contra otros jugadores para llegar primero a la meta. La velocidad y la habilidad para controlar el vehículo son fundamentales.
                     <div class="nk-gap-2"></div>
                     <div class="nk-gap-1"></div>
                     <a href="/Carreras" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Ver más</a>
                 </div>
             </div>
         </div>
         
         
         <div class="col-lg-6">
             <div class="nk-product-cat-2">
                 <a class="nk-product-image" href="/Rol">
                     <img src="../static/assets/images/categorias/rol.jpg" alt="The word was">
                 </a>
                 <div class="nk-product-cont">
                     <h3 class="nk-product-title h5"><a href="/Rol">Rol</a></h3>
                     <div class="nk-gap-1"></div>       
                     <div class="nk-gap-1"></div>
                     Los juegos de rol permiten a los jugadores asumir roles en mundos ficticios, desarrollar personajes, tomar decisiones y explorar historias épicas. Suelen involucrar la personalización de personajes, desarrollo de habilidades y toma de decisiones que afectan la narrativa.
                     <div class="nk-gap-2"></div>
                     <div class="nk-gap-1"></div>
                     <a href="/Rol" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Ver más</a>
                 </div>
             </div>
         </div>
         
         
         <div class="col-lg-6">
             <div class="nk-product-cat-2">
                 <a class="nk-product-image" href="/Deportes">
                     <img src="../static/assets/images/categorias/deportes.jpg" alt="My mother was so much">
                 </a>
                 <div class="nk-product-cont">
                     <h3 class="nk-product-title h5"><a href="/Deportes">Deportes</a></h3>
                     <div class="nk-gap-1"></div>
                     <div class="nk-gap-1"></div>
                     Los juegos de deportes recrean deportes del mundo real o deportes ficticios en un entorno virtual. Los jugadores pueden participar en competencias deportivas, ya sea como atletas individuales o equipos, y disfrutar de la emoción y la estrategia asociadas con los deportes
                     <div class="nk-gap-2"></div>
                     <div class="nk-gap-1"></div>
                     <a href="/Deportes" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Ver más</a>
                 </div>
             </div>
         </div>

         <div class="col-lg-6">
            <div class="nk-product-cat-2">
                <a class="nk-product-image" href="/Estrategia">
                    <img src="../static/assets/images/categorias/estrategia.jpg" alt="My mother was so much">
                </a>
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a href="/Estrategia">Estrategia</a></h3>
                    <div class="nk-gap-1"></div>
                    <div class="nk-gap-1"></div>
                    Los juegos de estrategia desafían la mente y la planificación estratégica de los jugadores. Estos juegos pueden incluir estrategias de guerra, construcción de imperios, gestión de recursos o resolución de rompecabezas. La toma de decisiones estratégicas es esencial para el éxito.
                    <div class="nk-gap-2"></div>
                    <div class="nk-gap-1"></div>
                    <a href="/Estrategia" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Ver más</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="nk-product-cat-2">
                <a class="nk-product-image" href="/FPS">
                    <img src="../static/assets/images/categorias/fps.jpg" alt="My mother was so much">
                </a>
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a href="/FPS">FPS</a></h3>
                    <div class="nk-gap-1"></div>
                    <div class="nk-gap-1"></div>
                    Los juegos FPS ponen a los jugadores en el papel de un personaje en primera persona y se centran en el combate con armas de fuego. Los jugadores deben apuntar y disparar para derrotar a enemigos y completar misiones. La precisión y los reflejos son cruciales.
                    <div class="nk-gap-2"></div>
                    <div class="nk-gap-1"></div>
                    <a href="/FPS" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Ver más</a>
                </div>
            </div>
        </div>
         
     </div>
     <!-- END: Featured Games -->
 
     
 </div>
 
 <div class="nk-gap-2"></div>
{% endblock %}
