{% extends 'layout_tienda.html' %}

{% block body %}
<div class="nk-main">
        
    <!-- START: Breadcrumbs -->
<div class="nk-gap-1"></div>
<div class="container">
<ul class="nk-breadcrumbs">


<li><a href="/">Inicio</a></li>


<li><span class="fa fa-angle-right"></span></li>

<li><a href="/store">Tienda</a></li>


<li><span class="fa fa-angle-right"></span></li>

<li><a href="/store-catalog">Juegos de {{juego[6]}}</a></li>


<li><span class="fa fa-angle-right"></span></li>


<li><span>{{juego[2]}} </span></li>

</ul>
</div>
<div class="nk-gap-1"></div>
<!-- END: Breadcrumbs -->




<div class="container">
<div class="row vertical-gap">
<div class="col-lg-12">
    <div class="nk-store-product">
        <div class="row vertical-gap">
            <div class="col-md-6">
                <!-- START: Product Photos -->
                <div class="nk-popup-gallery">
                    <div class="nk-gallery-item-box">
                        <a href="{{juego[5]}}" class="nk-gallery-item" data-size="400x300">
                            <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                            <img src="{{juego[5]}}" alt="">
                        </a>
                    </div>
                </div>
                <!-- END: Product Photos -->
            </div>
            <div class="col-md-6">


                <select class="form-control">
                    <option value="" disabled selected>Seleccione plataforma</option>
                    <option value="ps4">PS4</option>
                    <option value="xbox">Xbox 1</option>
                    <option value="pc">PC</option>
                </select>

                <div class="nk-product-description">
                    <p>{{juego[4]}}

                    </p>
                </div>

                <!-- START: Add to Cart -->
                <div class="nk-gap-2"></div>
                <form action="#" class="nk-product-addtocart">
                    <div class="nk-product-price">S/. {{juego[3]}}</div>
                    <div class="nk-gap-1"></div>
                    <div class="input-group">
                        <!-- <input type="number" class="form-control" value="1" min="1" max="21"> -->
                        <button class="nk-btn nk-btn-rounded nk-btn-color-main-1">Añadir al carrito</button>
                    </div>
                </form>
                <div class="nk-gap-3"></div>
                <!-- END: Add to Cart -->

                <!-- START: Meta -->
                <div class="nk-product-meta">
                    <div><strong>SKU</strong>: {{juego[1]}}</div>
                    <div><strong>Categoría</strong>:  <a href="#">{{juego[6]}}</a></div>
                    <div><strong>Tags</strong>: <a href="#">{{juego[7]}}</a></div>
                </div>
                <!-- END: Meta -->
            </div>
        </div>


        <div class="nk-gap-2"></div>
        <!-- START: Tabs -->
        <div class="nk-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#tab-description" role="tab" data-toggle="tab">Descripción</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab-reviews" role="tab" data-toggle="tab">Reseñas (3)</a>
                </li>
            </ul>

            <div class="tab-content">

                <!-- START: Tab Description -->
                <div role="tabpanel" class="tab-pane fade show active" id="tab-description">
                    <div class="nk-gap"></div>
                    <strong class="text-white">Fecha de lanzamiento: 24/05/2018</strong>
                    <div class="nk-gap"></div>

                    <div class="nk-product-info-row row vertical-gap">
                        <div class="col-md-5">
                            <div class="nk-product-pegi">
                                <div class="nk-gap"></div>
                                <img src="../static/assets/images/pegi-icon.png" alt="">
                                <div class="nk-product-pegi-cont">
                                    <strong class="text-white">Pegi Rating:</strong>
                                    <div class="nk-gap"></div>
                                    Adecuado para mayores de 17 años
                                </div>
                                <div class="nk-gap"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="nk-gap"></div>
                            <strong class="text-white">Género:</strong>
                            <div class="nk-gap"></div>
                            TBD
                            <div class="nk-gap"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="nk-gap"></div>
                            <strong class="text-white">Valoración:</strong>
                            <div class="nk-gap"></div>
                            <div class="nk-product-rating" data-rating="5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                            <div class="nk-gap"></div>
                        </div>
                    </div>
                </div>
                <!-- END: Tab Description -->


                
                <!-- START: Tab Reviews -->
                <div role="tabpanel" class="tab-pane fade" id="tab-reviews">
                    <div class="nk-gap-2"></div>
                    <!-- START: Reply -->
                    <h3 class="h4">Añadir reseña</h3>
                    <div class="nk-reply">
                        <form action="#" class="nk-form">
                            <div class="row vertical-gap sm-gap">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control required" name="name" placeholder="Name *">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control required" name="title" placeholder="Title *">
                                </div>
                            </div>
                            <div class="nk-gap-1"></div>
                            <textarea class="form-control required" name="message" rows="5" placeholder="Your Review *" aria-required="true"></textarea>
                            <div class="nk-gap-1"></div>
                            <div class="nk-rating">
                                <input type="radio" id="review-rate-5" name="review-rate" value="5">
                                <label for="review-rate-5">
                                    <span><i class="far fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </label>

                                <input type="radio" id="review-rate-4" name="review-rate" value="4">
                                <label for="review-rate-4">
                                    <span><i class="far fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </label>

                                <input type="radio" id="review-rate-3" name="review-rate" value="3">
                                <label for="review-rate-3">
                                    <span><i class="far fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </label>

                                <input type="radio" id="review-rate-2" name="review-rate" value="2">
                                <label for="review-rate-2">
                                    <span><i class="far fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </label>

                                <input type="radio" id="review-rate-1" name="review-rate" value="1">
                                <label for="review-rate-1">
                                    <span><i class="far fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </label>
                            </div>
                            <button class="nk-btn nk-btn-rounded nk-btn-color-dark-3 float-right">Enviar</button>
                        </form>
                    </div>
                    <!-- END: Reply -->

                    <div class="clearfix"></div>
                    <div class="nk-gap-2"></div>
                    <div class="nk-comments">
                        <!-- START: Review -->
                        <div class="nk-comment">
                            <div class="nk-comment-meta">
                                <img src="../static/assets/images/avatar-2.jpg" alt="Witch Murder" class="rounded-circle" width="35"> por <a href="#">Dylan McCarry</a> el 20 de Setiembre, 2018
                                <div class="nk-review-rating" data-rating="4.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                            </div>
                            <div class="nk-comment-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis rem sunt veniam vero nulla cupiditate architecto quam! Consequatur voluptate nemo officia quas. Sint ullam, voluptatem vel obcaecati excepturi veritatis corporis?</p>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ab optio aperiam in deserunt porro accusantium laboriosam assumenda, minima atque harum animi, nesciunt laudantium libero saepe perferendis hic. Repudiandae, laboriosam?</p>
                            </div>
                        </div>
                        <!-- END: Review -->
                        <!-- START: Review -->
                        <div class="nk-comment">
                            <div class="nk-comment-meta">
                                <img src="../static/assets/images/avatar-1.jpg" alt="Hitman" class="rounded-circle" width="35"> por <a href="#">Hitman</a> el 14 de Julio, 2018
                                <div class="nk-review-rating" data-rating="0.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                            </div>
                            <div class="nk-comment-text">
                                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad sed voluptate provident non similique sint ex placeat necessitatibus quas laboriosam, nesciunt adipisci nam animi nulla quae. Molestiae architecto repudiandae expedita.</p>
                            </div>
                        </div>
                        <!-- END: Review -->
                        <!-- START: Review -->
                        <div class="nk-comment">
                            <div class="nk-comment-meta">
                                <img src="../static/assets/images/avatar-3.jpg" alt="Wolfenstein" class="rounded-circle" width="35"> por <a href="#">Wolfenstein</a> el 27 de Junio, 2018
                                <div class="nk-review-rating" data-rating="5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                            </div>
                            <div class="nk-comment-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nostrum quo itaque consequuntur quos. Enim laudantium libero iure eaque tempora? Iste ipsa saepe nisi quaerat, sed rem accusantium ab in?</p>
                            </div>
                        </div>
                        <!-- END: Review -->
                    </div>
                </div>
                <!-- END: Tab Reviews -->

            </div>
        </div>
        <!-- END: Tabs -->
    </div>

    <!-- START: Related Products -->
    <div class="nk-gap-3"></div>
    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Otros</span> juegos</span></h3>
    <div class="nk-gap"></div>
    <div class="row vertical-gap">
        
        

        {% for producto in productos_aleatorios %}
            <div class="col-md-6">
                <div class="nk-product-cat">
                    <a class="nk-product-image" href="/{{producto[6]}}/{{producto[2]}}">
                        <img src="{{producto[5]}}" alt="She gave my mother">
                    </a>
                    <div class="nk-product-cont">
                        <h3 class="nk-product-title h5"><a href="/{{producto[6]}}/{{producto[2]}}">{{producto[2]}}</a></h3>
                        <div class="nk-gap-1"></div>
                        <div class="nk-product-rating" data-rating="3"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
                        <div class="nk-gap-1"></div>
                        <div class="nk-product-price">S/. {{producto[3]}}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        
        
    </div>
    <!-- END: Related Products -->
</div>
<div class="col-lg-4">
    
</div>
</div>
</div>
<div class="nk-gap-2"></div>



{% endblock %}