{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Nuevo Pedido</h1>

    <div class="card mb-4">
        <div class="card-body">
            <form class="row g-3" method="POST" action="/pedido/addpedido">
                <div class="col-6">
                    <label class="form-label">DNI</label>
                    <input name="dni" type="number" class="form-control" required>
                </div>
                <div class="col-6">
                    <label class="form-label">Transacción</label>
                    <input name="transaccion" type="text" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Fecha</label>
                    <input name="fecha" type="date" class="form-control" id="inputEmail4" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Monto</label>
                    <input name="monto" type="number" class="form-control" required>
                </div>
                <div class="col-6">
                    <label for="inputState" class="form-label">Forma de Pago</label>
                    <select name="pago" id="inputState" class="form-select" required>
                        <option selected disabled value>Escoger...</option>
                        <option>Yape</option>
                        <option>Plin</option>
                        <option>Tarjeta débito</option>
                        <option>Tarjeta crédito</option>
                        <option>PayPal</option>
                    </select>
                </div>
                <div class="col-6">
                    <label class="form-label">Estado</label>
                    <select name="estado" class="form-select" required>
                        <option selected disabled value>Escoger...</option>
                        <option>Completado</option>
                        <option>Pendiente</option>
                        <option>Reembolso</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>
                </div>
                <div class="box-footer">
                    <center>
                    <a href="/pedido/"><button type="button" class="btn btn-danger">Cancelar</button></a>
                    <input name="save" type="submit" class="btn btn-info pull-right" value="Guardar">
                </center>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="player-one-logo">
    <!-- Puedes ajustar el tamaño y la posición según tus necesidades -->
    <img src="/static/img/logo.png" alt="Player ONE Logo" class="img-fluid">
</div>
<style>
    .player-one-logo {
        padding: 20px; /* Espaciado alrededor del logo */
        margin-top: 20px; /* Ajusta el espacio entre el formulario y el logo */
        opacity: 0.3;
        text-align: center;
    }
    
    .player-one-logo img {
        max-width: 500%; /* La imagen es responsive y no excede el tamaño del contenedor */
        height: auto; /* La altura se ajusta automáticamente según el ancho */
    }
    </style>

{% endblock %}