{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Editar Cliente</h1>

    <div class="card mb-4">
        <div class="card-body">
            <form class="row g-3" method="POST" action="/cliente/updatecliente">
                {% for row in data %}
                    <div class="col-6">
                        <label class="form-label">Nombres</label>
                        <input name="nombre" value="{{ row[1] }}" type="text" class="form-control" placeholder="Nombre"
                                autocomplete="off" required>
                    </div>

                    <div class="col-6">
                        <label class="form-label">Apellidos</label>
                        <input name="apellido" value="{{ row[2] }}" type="text" class="form-control" placeholder="Apellido"
                                autocomplete="off" required>
                    </div>

                    <div class="col-6">
                        <label class="form-label">Foto de perfil</label>
                        <input name="foto_perfil" value="{{ row[3] }}" type="text" class="form-control" placeholder="Foto de perfil"
                                autocomplete="off" required>
                    </div>
                    
                    <div class="col-6">
                        <label class="form-label">Email</label>
                        <input name="email" value="{{ row[4] }}" type="text" class="form-control"
                                placeholder="Email" autocomplete="off" required>
                    </div>

                    <div class="col-6">
                        <label class="form-label">Contraseña</label>
                        <input name="password" value="{{ row[5] }}" type="password" class="form-control"
                                placeholder="Contraseña" autocomplete="off" required>
                    </div>

                    <div class="col-6">
                        <label class="form-label">Telefono</label>
                        <input name="telefono" value="{{ row[6] }}" type="text" class="form-control"
                                placeholder="Telefono" autocomplete="off" required>
                    </div>

                    <div class="col-6">
                        <label class="form-label">DNI</label>
                        <input name="dni" value="{{ row[7] }}" type="text" class="form-control"
                                placeholder="dni" autocomplete="off" required>
                    </div>

                    <div class="box-footer">
                        <center>
                        <a href="/cliente/"><button type="button" class="btn btn-danger">Cancelar</button></a>
                        <input name="update" type="submit" class="btn btn-info pull-right" value="Actualizar">
                    </center>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
<div class="player-one-logo">
    <!-- Puedes ajustar el tamaño y la posición según tus necesidades -->
    <img src="/static/img/logo.png" alt="Player ONE Logo" class="img-fluid">
</div>
<style>
    .player-one-logo {
        padding: 20px; /* Espaciado alrededor del logo */
        margin-top: 20px; /* Ajusta el espacio entre el formulario y el logo */
        opacity: 0.3;
        text-align: center;
    }
    
    .player-one-logo img {
        max-width: 500%; /* La imagen es responsive y no excede el tamaño del contenedor */
        height: auto; /* La altura se ajusta automáticamente según el ancho */
    }
    </style>


{% endblock %}